<div class="title"> <h1> Mig's Recipes </h1> </div>
<div class="container">

  <hr>

  <div class="menu">
    <%= link_to "Popular Cocktails", new_cocktail_path, class: "menu_item"%>
    <%= link_to "Random Cocktail", new_cocktail_path, class: "menu_item"%>
    <%= link_to "Add A Cocktail", new_cocktail_path, class: "menu_item"%>
    <%= link_to "About Us", new_cocktail_path, class: "menu_item"%>
    <%= link_to "Contact", new_cocktail_path, class: "menu_item"%>
  </div>

  <hr>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="fixed-card">
        <div class="cocktail-card-content">
          <div class="img_placeholder"></div>
          <div class="cocktail-card-title">
            <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
          <div> <p> <%= cocktail.doses.count%> <%= cocktail.doses.count == 1 ? "Ingredient" : "Ingredients" %></p></div>
        </div>
        <div class="card-actions">
          <%= link_to "More Info" , cocktail_path(cocktail) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>

