<div class="large-card">
  <h1><%= @cocktail.name %></h1>
  <h3>Ingredients</h3>

  <div class="content">
    <div class="ingredients">
      <ul>
        <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.amount  %>
          <%= dose.ingredient.name  %>
          <%= dose.description  %>
          <br>
          <%= link_to "Delete Ingredient", delete_dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="buttons">
    <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail), class: "btn" %>
    <%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
    <%= link_to "Go back", cocktails_path, class: "btn" %>
  </div>
</div>



