<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="cocktail-form">
        <h1>Add a new ingredient</h1>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.input :amount %>
        <%= f.association :ingredient%>
        <div class="buttons">
          <%= f.button :submit %>
          <%= link_to "Cancel Dose", cocktail_path(@cocktail), class: "btn btn-warning"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




